.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 30px;
}

.text {
  font-size: 20pt;
  line-height: normal;
  margin: 30px 0px;
  text-align: center;
}
