<mat-toolbar color="primary">
  <mat-icon>tag</mat-icon>
  <span>SUDOKLE</span>
</mat-toolbar>
<div
  style="font-size: larger"
  *ngFor="
    let row of randomNumbers.slice(
      0,
      (randomNumbers.length / 3) % 1 === 0 ? randomNumbers.length / 3 : randomNumbers.length / 3 + 1
    );
    let idx = index
  "
>
  <span *ngFor="let x of randomNumbers.slice(idx * 3, idx * 3 + 3)">{{ x === -1 ? '?' : x }}&nbsp;&nbsp;&nbsp;</span>
</div>
<button mat-raised-button (click)="getRandomNumbers()">Randomize Numbers</button>
