.toolbar {
  display: flex;
  justify-content: space-between;
}

.toolbar > * {
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.grid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 30px;
}

.overlay {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay mat-icon {
  transform: scale(12);
}

.success {
  color: green;
}

.fail {
  color: red;
}

.animation-picker {
  width: 100px;
}
