<div *ngIf="displayOverlay" class="overlay">
  <div>
    <!-- <mat-icon *ngIf="success" class="success">check</mat-icon> -->
    <mat-icon *ngIf="!success" class="fail">close</mat-icon>
  </div>
</div>
<mat-toolbar class="toolbar" color="primary">
  <div>
    <mat-icon>tag</mat-icon>
    <span>SUDOKLE</span>
  </div>
  <div>HIGH SCORE: {{ (databaseService.highScore$ | async)?.score }}</div>
</mat-toolbar>
<div class="content">
  <sud-timer [totalTime]="totalTime" (timerFinished)="handleTimerFinished()"></sud-timer>
  <div class="grid">
    <sud-cell
      *ngFor="let number of randomNumbers"
      [number]="number.number"
      [success]="number.success"
      [animation]="animation"
    ></sud-cell>
  </div>
  <sud-keyboard (keyPress)="handleKeyPress($event)"></sud-keyboard>
</div>
