<div *ngIf="displayOverlay" class="overlay">
  <div>
    <!-- <mat-icon *ngIf="success" class="success">check</mat-icon> -->
    <mat-icon *ngIf="!success" class="fail">close</mat-icon>
  </div>
</div>
<mat-toolbar class="toolbar" color="primary">
  <div>
    <mat-icon>tag</mat-icon>
    <span>SUDOKLE</span>
  </div>
  <div>
    HIGH SCORE: {{ storageService.highScore$ | async }}
  </div>
</mat-toolbar>
<div class="content">
  <sud-timer [totalTime]="totalTime" (timerFinished)="handleTimerFinished()"></sud-timer>
  <div class="grid">
    <sud-cell *ngFor="let number of randomNumbers" [number]="number.number" [success]="number.success" [animation]="selectedAnimationValue" [animationSpeed]="selectedAnimationSpeedValue"></sud-cell>
  </div>
  Animation
  <mat-select class="animation-picker" (selectionChange)="handleAnimationPickerChange($event)" [value]="animationValues[0]">
    <mat-option *ngFor="let av of animationValues" [value]="av">
      {{av}}
    </mat-option>
  </mat-select>
  <mat-select class="animation-picker" (selectionChange)="handleAnimationSpeedPickerChange($event)" [value]="animationSpeedValues[0]">
    <mat-option *ngFor="let av of animationSpeedValues" [value]="av">
      {{av}}
    </mat-option>
  </mat-select>
  <sud-keyboard (keyPress)="handleKeyPress($event)"></sud-keyboard>
</div>
