:host {
  height: 50px;
  width: 50px;
  display: flex;
}

.wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 5px;
  font-weight: bold;
  font-size: 30pt;
  background-color: white;
  border-radius: 8px;
}

.border-solid {
  border: 1px solid black;
}

.border-dashed {
  border: 1px dashed black;
}

.green {
  color: green;
}

@keyframes headShake2 {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-6px);
  }

  18.5% {
    transform: translateX(5px);
  }

  31.5% {
    transform: translateX(-3px);
  }

  43.5% {
    transform: translateX(2px);
  }

  50% {
    transform: translateX(0);
  }
}

.animate__headShake2 {
  animation-timing-function: ease-in-out;
  animation-name: headShake2;
}
