:host {
  background-color: #121213;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keys {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  padding: 5px;
  width: 100%;
  max-width: 500px;
}

button {
  width: 100%;
  min-height: 55px;
  font-size: 20pt;
  // Disables the faint light color when a button is focused (like after tapping)
  --mat-mdc-button-persistent-ripple-color: transparent;
}
