.max-times-played-dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 6vw;
  line-height: 1.5;
  height: 100%;
  position: relative;
}
